# Go compiled binaries
/wedit
/wedit.exe
/debug

# Dart compiled files
/editor/.pub/
/editor/.packages
/editor/editor.js
/editor/editor.js.deps
/editor/editor.js.map
/editor/editor.go
/editor/pubspec.lock

# Local test sites
/public
/template
/content

.vscode