# Go compiled binaries
/wedit
/wedit.exe
/debug

# Dart compiled files
/editor/.pub/
/editor/.dart_tool
/editor/.packages
/editor/editor.js
/editor/editor.js.deps
/editor/editor.js.map
/editor/pubspec.lock

.vscode
tmp
