html body {
  background-color: #000000;
  color: #AAAAAA;
  font-family: "Roboto Mono", Courier, monospace;
  overflow-x: hidden;
  font-weight: 100;
  font-size: 16px;
}

a {
  color: #FF6666;
}

h1 {
  color: #666666;
  font-weight: 100;
  font-size: 30px;
  letter-spacing: 20px;
}

h2 {
  color: #FFFFFF;
  font-weight: 100;
}

header {
  text-align: center;
  margin: 100px;
}

footer {
  text-align: center;
  padding: 100px;
}

.container {
  margin: auto;
  max-width: 1300px;
}

.container:after {
  content:"";
  display:table;
  clear:both
}

.half {
  float: left;
  width: 50%;
}

.center {
  float: left;
  width: 60%;
  margin-left: 20%;
}

.third {
  float: left;
  width: 33.33333333%;
}

@media only screen and (max-width: 1000px) {
  .center, .half, .third {
    width: 100%;
    margin-left: 0;
  }
}

.content {
  margin: 10px;
  padding: 10px;
  background-color: #000000AA
}

code {
  background: #66666666;
}