<!DOCTYPE html>
<html>
<title>WEDIT</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/w3plus.css">

<body>
  <div class="w3-content" style="max-width:1500px">
    <header class="w3-panel w3-center w3-opacity" style="padding:128px 16px">
      <h1 class="w3-xlarge" wedit="first-header">WEBSITE EDIT TOOL</h1>
      <h1 wedit="second-header">WEDIT</h1>
    </header>
    <div class="w3-row-padding w3-grayscale" style="margin-bottom:128px">
      <div class="w3-twothird">
        <div class="w3-card-4 w3-margin w3-white" wedit-repeat="col-left">
          <div class="w3-container">
            <h3 wedit="col-left-h">-- some header --</h3>
          </div>
          <div class="w3-container">
            <p class="left" wedit="col-left-p">-- some paragraph --</p>
          </div>
        </div>
      </div>
      <div class="w3-third">
        <div class="w3-card-4 w3-margin w3-white" wedit-repeat="col-right">
          <div class="w3-container">
            <h3 wedit="col-right-h">-- some header --</h3>
          </div>
          <div class="w3-container">
            <p class="right" wedit="col-right-p">-- some paragraph --</p>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="w3-container w3-padding-64 w3-center w3-large">
    <div class="w3-large w3-section">
      <a href="https://www.sofmon.com/">
        <img alt="sofmon.com" src="/sofmon.svg" width="200px" />
        </svg>
      </a>
    </div>
  </footer>
</body>

</html>